@{ ViewBag.Title = "Info"; }

@section Styles {
    <link href='@Url.Content("~/Content/signin_signup.css")' rel='stylesheet' type='text/css' />
}


<div class="parallax block">
    <div class="container" style="width:1100px; background-color:rgb(224, 224, 224); min-height:100vh; height: auto; padding-top:150px; font-family: 'Source Sans Pro', sans-serif;">
        <h3 style="text-align: center;">About</h3>
        <div class="container" style="padding-left: 250px; padding-right: 250px;">
            <p style="font-size: 18px; padding-top: 20px;">            

            Hello! Welcome to the Dev Forum!

            <br /><br />

            You can discuss here any themes that are connected to the coding, 
            developing, studying and other topics connected to the IT. It is
            strictly forbidden to discuss politics, religion and other
            sensitive topics. Otherwise, your account will be banned forever.

            <br /><br />

            This forum is an open-source project. You can download
            the source code from Github 
            <a href="https://github.com/DeccemberGirl/WebForumOptimized">here</a>.

            <br /><br />
            Should you have any problems, please contact us on <u>admin@mail.ru</u>

            <br /><br />
            All rights reserved.
            </p>
        </div>
    </div>
</div>