@model BLL.Models.NewMessageFormModel    
    <div class="container border" style="text-align: center;">
        @using (Html.BeginForm("AddNewMessage", "Forum", FormMethod.Post, new { @class = "NewMessageForm" }))
        {
            @Html.ValidationSummary()
            <h4><br />Write new message:</h4>
        <p>
            <span>
                @Html.TextAreaFor(m => m.Text, new { @class = "topic-text-input", wrap = "off", rows = "10", cols = "50" })
            </span>
        </p>
        
            <span>
                @Html.HiddenFor(m => m.TopicId)
            </span>
            <p>
            <input type="submit" class="btn btn-success mb-2" value="Add Message">
             </p>
        }
    </div>
